@inject IStringLocalizer<LocalizationDropDown> localizer
@inject NavigationManager NavigationManager

<select @onchange="OnSelected" class="form-control localization-dropdown">
    <option>Language</option>
    <option value="en">English</option>
    <option value="pl">Polish</option>
</select> 

@code {
    private void OnSelected(ChangeEventArgs e)
    {
        var selectedCulture = e.Value.ToString();
        var culture = (string)e.Value;
        var uri = new Uri(NavigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var query = $"?culture={Uri.EscapeDataString(culture)}&" +
            $"redirectUri={Uri.EscapeDataString(uri)}";

        NavigationManager.NavigateTo(NavigationManager.BaseUri + "Home/SetCulture" + query, true);
    }
}