@using System.Globalization
@using Microsoft.AspNetCore.Localization
@inject IStringLocalizer<LocalizationDropDown> localizer

<select @onchange="OnSelected">
    <option>Select...</option>
    <option value="en">English</option>
    <option value="pl">Polish</option>
</select> 

@code {
    private void OnSelected(ChangeEventArgs e)
    {
        var current = CultureInfo.CurrentCulture;
        var selectedCulture = e.Value.ToString();
        CultureInfo.CurrentCulture = CultureInfo.GetCultures(CultureTypes.AllCultures)
            .First(c => c.Name == selectedCulture);
        var currentAfter = CultureInfo.CurrentCulture;

        StateHasChanged();
    }
}