.vs/
sfservice.API/bin/
sfservice.API/obj/
/sfservice.Models/obj
/sfservice.Models/bin
/sfservice.API/sfservice.API.csproj.user
/sfservice.APITests/bin
/sfservice.APITests/obj
/sfservice.UI/bin
/sfservice.UI/obj
/sfservice.UI/web.config
/sfservice.API/web.config
/sfservice.UITests/obj
/sfservice.UI/sfservice.UI.csproj.user
