.vs/
sfservice.API/bin/
sfservice.API/obj/
/sfservice.Models/obj
/sfservice.Models/bin
/sfservice.API/sfservice.API.csproj.user
/sfservice.API.UnitTests/bin
/sfservice.API.UnitTests/obj
/sfservice.UI/bin
/sfservice.UI/obj
/sfservice.UI/web.config
/sfservice.API/web.config
/sfservice.UI.UnitTests/obj
/sfservice.UI.UnitTests/bin/
/sfservice.UI/sfservice.UI.csproj.user
/sfservice.UI/node_modules
/sfservice.Application/obj/
/sfservice.Application/bin/
/sfservice.Infrastructure/obj/
/sfservice.Infrastructure/bin/
