$dungeon-selection-margin-top: 1rem;

.dungeon {
    background: lightgray;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: $dungeon-selection-margin-top;

    &__monsterSelection {
        margin-top: $dungeon-selection-margin-top;
    }
}

.monster {
    margin-top: $dungeon-selection-margin-top;

    &__details {
        display: grid;
        grid-template-columns: 128px 1fr;

        &--label {
            font-weight: bold;
        }
    }

    &__details > p {
        margin-bottom: 0;
    }
}