.dungeon {
  background: lightgray;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  width: 300px; }
  .dungeon__monsterSelection {
    margin-top: 1rem; }

.dungeons {
  padding-bottom: 1.1rem; }
  .dungeons__content {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 1rem; }

.monster {
  margin-top: 1rem; }
  .monster__details {
    display: grid;
    grid-template-columns: 128px 1fr; }
    .monster__details--label {
      font-weight: bold; }
  .monster__details > p {
    margin-bottom: 0; }
