@inherits LayoutComponentBase

@using sfservice.UI.Components.LocalizationDropDown

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="top-row px-4">
        <LocalizationDropDown />
        <a href="About">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
