@page "/dungeons"

@inherits DungeonsBase

<h3>Dungeons List</h3>

@if (DungeonsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @foreach (var dungeon in DungeonsList)
        {
            <p>@dungeon.Number</p>
            <p><b>@dungeon.Name</b></p>
        }
    </div>
}